{% extends 'base.html.twig' %}

{% block body %}
<div class="container" style="width: 300px; float: right">
    <div class="wrap" style="border:1px solid black">
        <h4>About</h4>
        <div>
            <p>{{  name }}</p>
            <p>{{  telephone }}</p>
            <p>{{  email }}</p>
        </div>
    </div>
</div>
{% endblock %}
{% block stylesheets %} {% endblock %}