{% extends 'base.html.twig' %}


{% block body%}
    <h4> Hello {{ 'Sanya'  }}</h4>
    <br>
    {% if some_value %}
        {{  'YES!' }}
    {% endif %}

    {% for key,some_item in some_array %}
        'key' {{ key }} 'value' {{ some_item }} <br>
    {% endfor %}

{% endblock %}